<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-6 col-xs">
      <form>
        <div class="form-group"> <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
          <label for="email" class="bmd-label-floating">Email</label>
          <input type="email" class="form-control" name="email" id="email">
        </div>
        <div class="form-group bmd-form-group"> <!-- manually specified --> 
          <label for="password" class="bmd-label-floating">Another label</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-primary btn-raised text-left">Submit</button>
      </form>
    </div>
  </div>
</div>
